USE [SushiRestaurant]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 11/21/2020 2:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](300) NULL,
	[img] [nvarchar](50) NULL,
	[content] [nvarchar](max) NULL,
	[preContent] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/21/2020 2:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] NOT NULL,
	[address] [nvarchar](150) NULL,
	[tel] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[openday] [nvarchar](500) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 11/21/2020 2:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] NULL,
	[price] [float] NULL,
	[name] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NumberOfViews]    Script Date: 11/21/2020 2:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberOfViews](
	[NumOfViews] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
INSERT [dbo].[Contact] ([id], [address], [tel], [email], [openday]) VALUES (1, N'Ha Noi', N'0912670080', N'trangnt@gmail.com', N'Monday: Closed<br>Tuesday: 12:00 - 22:00<br>Wednesday: 12:00 - 22:00')
INSERT [dbo].[Contact] ([id], [address], [tel], [email], [openday]) VALUES (2, N'Ho Chi Minh', N'0123456789', N'HCM@gmail.com', N'Monday-Sunday: 12:00-22:00')
INSERT [dbo].[Menu] ([id], [price], [name], [content]) VALUES (1, 12.5, N'Futomaki', N'Từ chữ maki trong Futomaki, bạn có thể đoán được là món này cũng có liên quan đến cuộn. Những cuộn futomaki thường to, có đường kính từ 1.5 inch đến 2.5 inch, bao gồm 2 - 3 loại nhân khác nhau được cuộn bằng rong biển khô. Maki California cũng là một loại Futomaki phổ biến.')
INSERT [dbo].[Menu] ([id], [price], [name], [content]) VALUES (2, 13, N'Maki', N'Maki là dạng cơm cuộn bằng rong biển loại nhỏ, thường chỉ có 1 loại nhân, có thể là nhân cá sống, rau củ quả sống. Một số loại maki bạn có thể quen thuộc là maki bơ, maki cá hồi, maki dưa chuột... Nhìn chung thì maki là từ phổ biến để chỉ món sushi cuộn.')
INSERT [dbo].[Menu] ([id], [price], [name], [content]) VALUES (3, 13.12, N'Gunkan', N'Gunkan dịch ra nghĩa là "chiến hạm", "thuyền chiến", cũng không phải vì nó gắn liền với một sự kiện lịch sử hay con tàu nào, mà vì bản thân nó trông giống như một chiếc tàu nhỏ "chở" đầy các món cá, trứng cá, trứng tôm hay nhím biển. ')
INSERT [dbo].[NumberOfViews] ([NumOfViews]) VALUES (52)
