<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RouterFilter</filter-name>
        <filter-class>filter.RouterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>sessionlistener.SesstionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ArticleController</servlet-name>
        <servlet-class>controller.ArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleDetailController</servlet-name>
        <servlet-class>controller.ArticleDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuArticleController</servlet-name>
        <servlet-class>controller.MenuArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.ContactController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleController</servlet-name>
        <url-pattern>/ArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleDetailController</servlet-name>
        <url-pattern>/ArticleDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuArticleController</servlet-name>
        <url-pattern>/MenuArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
