/*
.footer{
    margin-top: -10px;
    background-color: white;
    width: 980px;
     margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
}

.footer a{
    padding-left: 20px;
    color: black;
}

hr{
    width: 95%;
    margin-bottom: 20px;
}*/


.footer{
    height: 76px;
    border-top: 1px solid #ddd;
    line-height: 76px;
    background-color: white;
    display: flex;
}
.footer .button {
    height: 20px;
    display: flex;
    margin-left: 66%;
    margin-top: 25px;

}

.footer .button button{ 
    background-color: #fff;
    border-radius: 6px;
}

.footer a{
    color: #000;
    padding-left: 20px;
}
