
body{
   background-image: url("../images/wine.png"); 
    background-repeat: no-repeat;
    background-color: #D5F46B;
    background-position: top;
}



.main{
    width: 980px;
    margin: auto;
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;

}

.border{
    border-radius: 10px;
}

