

.menu{
    display: inline-block;
    background-color: #303030;
    padding-left: 20px;
    width: 960px;
    /*margin-left: 210px;*/
    height: 30px;
    padding-top: 10px;
    font-family: sans-serif;
}

.menu a{
    padding-right: 25px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}